<html>
  <head>
    <script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
    <script lang="javascript">
      function runApp() {
        var hel = document.getElementById("hello");
        hel.innerHTML = "Hello world";
      }

      function initLiff() {
        liff.init({
          liffId: '1656565065-NxpEKVzE'
        }).then(() => {
          runApp();

          var a = document.getElementById('am');
          alert(a.value);

        }).catch((ex) => console.error(ex));
      }
    </script>
  </head>
  <body  onload="initLiff()">
    <input id="am" type="hidden" value="<%= iam %>"" />
    <div id="hello"></div>
    <div><%= iam %></div>
    <div><%= uri %></div>
  </body>
</html>